* {
  margin: 0;
  padding: 0;
  color: #bdc1c6;
}

/*----------------  HEADER  --------------------------------*/

#header {
  display: block;
  background: #202124;
}

#header .logo {
  width: 130px;
  height: auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.form-header {
  background-color: bisque;
  display: flex;
  align-items: center;
}

.search {
  display: flex;
}

.search input {
  width: 340px;
  height: 40px;
}

.search img {
  width: 16px;
  height: 16px;
}

.header-rigth {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings svg {
  width: 24px;
}

.menu-apps svg {
  width: 24px;
}

.menu-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 36px;
  background: #8ab4f8;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 16px;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: none;
  margin-right: 30px;
}

.menu-login:hover {
  background: #93baf9;
  border-color: transparent;
  box-shadow: 0 1px 3px 1px rgb(0 0 0 / 15%), 0 1px 2px rgb(0 0 0 / 30%);
}

.menu-login a {
  color: #202124;
  text-decoration: none;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.25px;
  box-sizing: border-box;
  line-height: 16px;
}

/*----------------  MENU INFERIOR  --------------------------------*/
.menu-inferior {
  display: block;
}

.menu-inferior-container {
  display: flex;
}

.link-todas svg,
.link-imagens svg,
.link-noticias svg,
.link-videos svg,
.link-shopping svg {
  width: 16px;
  height: 16px;
}

/*----------------  LINHA DE DIVISÃO  --------------------------------*/
.divisao {
  border-bottom: 5px solid green;
}
/*----------------  MAIN CONTENT  --------------------------------*/
main {
  display: flex;
}

main .container {
  margin-left: 190px;
}

/*----------------  FOOTER  --------------------------------*/
footer {
  display: flex;
  height: 300px;
}

footer .container {
  margin-left: 190px;
}
