* {
  margin: 0;
  padding: 0;
  /* color: #bdc1c6; */
}

/*----------------  HEADER  --------------------------------*/

#header {
  display: block;
  background: #202124;
}

#header .logo {
  margin-left: 30px;
}

#header .logo img {
  width: 92px;
  height: 33px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.form-header {
  display: flex;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;

  width: 660px;
  height: 44px;
  margin-left: 30px;
  background: #303134;
  border-radius: 24px;
}

.search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin-left: 20px;
}

.search-input-limpar {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-input input {
  font-size: 16px;
  font-weight: 500;
  line-height: 39px;
  color: #e8eaed;
  border: none;
  outline: none;
  word-wrap: break-word;
  flex: 100%;
  background-color: transparent;
}

#icone-limpar {
  margin-right: 20px;
  margin-left: 20px;
}

#linha-vertical {
  border-right: 1px solid #757b80;
}

.search img {
  width: 20px;
  height: 20px;
}

.teclado {
  margin-left: 20px;
}

.microfone {
  margin-left: 20px;
  margin-right: 20px;
}

.btn-search {
  margin-right: 10px;
  background: #303134;
  border: none;
}

.btn-search img {
  width: 16px;
  height: 16px;
}

.header-rigth {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings img {
  width: 28px;
  height: 28px;
}

.menu-apps {
  margin-left: 16px;
  margin-right: 16px;
}

.menu-apps svg {
  width: 24px;
}

.menu-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 36px;
  background: #8ab4f8;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 16px;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: none;
  margin-right: 30px;
}

.menu-login:hover {
  background: #93baf9;
  border-color: transparent;
  box-shadow: 0 1px 3px 1px rgb(0 0 0 / 15%), 0 1px 2px rgb(0 0 0 / 30%);
}

.menu-login a {
  color: #202124;
  text-decoration: none;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.25px;
  box-sizing: border-box;
  line-height: 16px;
}

/*----------------  MENU INFERIOR  --------------------------------*/
.menu-inferior {
  display: block;
}

.menu-inferior-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #969ba1;
  margin-top: 10px;
}

.links-menu-inferior {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  margin-left: 150px;
  color: #969ba1;
  padding: 3px;
}

.links-menu-inferior div {
  display: flex;
}

.links-menu-inferior div a {
  display: flex;
  text-decoration: none;
  color: #969ba1;
  font-size: 14px;
  font-family: Google Sans, arial, sans-serif;
}

.links-menu-inferior .link-todas a {
  color: #8ab4f8;
}

.selecionado {
  position: absolute;
  background: #8ab4f8;
  height: 3px;
  width: 60px;
  margin-top: 31px;
  margin-left: 20px;
}

.links-menu-inferior div span {
  margin-right: 5px;
}

.links-menu-inferior img {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.links-menu-inferior span {
  margin-left: 10px;
}

.link-todas svg,
.link-mais svg {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.link-ferramentas {
  background: #202124;
  text-align: center;
}

#btn-ferramentas {
  width: 100px;
  height: 20px;
  background: #202124;
  font-size: 14px;
  font-family: Google Sans, arial, sans-serif;
  color: #969ba1;
  border: none;
  cursor: pointer;
}

.link-ferramentas:hover {
  background: #303134;
  border: 1px solid #969ba1;
  padding: 3px;
}

#btn-ferramentas:hover {
  background: #303134;
  color: #e8eaed;
}

/*----------------  LINHA DE DIVISÃO  --------------------------------*/
.divisao {
  border-bottom: 1px solid #969ba160;
}
/*----------------  MAIN CONTENT  --------------------------------*/
#main {
  display: block;
  background: #202124;
  color: #bdc1c6;
}

.result-statis {
  color: #9aa0a6;
  line-height: 43px;
  font-family: Google Sans, arial, sans-serif;
}

.main-container {
  margin-left: 173px;
  max-width: 630px;
}

.result-default {
  font-size: 16px;
  line-height: 24px;
  font-family: arial, sans-serif;
  font-weight: normal;
}

.result-default #bold1,
.result-default #bold2 {
  font-weight: bold;
}

.result-default #data {
  margin-left: 10px;
  font-size: 14px;
}

.result-2 {
  margin-top: 20px;
  padding-top: 1px;
  cursor: pointer;
}

.result-2 a {
  text-decoration: none;
}

.result-2 a cite {
  font-size: 15px;
  line-height: 1.3;
  color: #bdc1c6;
  font-style: normal;
}

.result-2 a h3 {
  line-height: 1.3;
  font-family: arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #8ab4f8;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.1);
}

.result-2 a h3:hover {
  text-decoration: underline;
}

.separacao {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.linha {
  width: 300px;
  border-bottom: 1px solid #969ba160;
}

.poslinha {
  margin-left: 10px;
}

#ponto-interrogacao {
  width: 12px;
  height: 12px;
  margin-right: 10px;
}

#ponto-flutuante {
  width: 3px;
  height: 3px;
  margin-left: 10px;
  margin-bottom: 5px;
}

#ponto-exclamacao {
  width: 12px;
  height: 12px;
  margin-left: 10px;
  margin-right: 10px;
}

/*----------------  FOOTER  --------------------------------*/
#footer {
  display: flex;
  background: #202124;
}

.footer-container {
  margin-left: 173px;
}
