* {
  margin: 0;
  padding: 0;
  color: #bdc1c6;
}

/*----------------  HEADER  --------------------------------*/

#header {
  display: block;
  background: #202124;
}

#header .logo {
  margin-left: 30px;
}

#header .logo img {
  width: 92px;
  height: 33px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.form-header {
  display: flex;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;

  width: 640px;
  height: 44px;
  margin-left: 30px;
  background: #303134;
  border-radius: 24px;
}

.search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin-left: 20px;
}

.search-input-limpar {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-input input {
  font-size: 16px;
  font-weight: 500;
  line-height: 39px;
  color: #e8eaed;
  border: none;
  outline: none;
  word-wrap: break-word;
  flex: 100%;
  background-color: transparent;
}

#icone-limpar {
  margin-right: 5px;
  margin-left: 10px;
}

#linha-vertical {
  border-right: 1px solid #757b80;
}

.search img {
  width: 24px;
  height: 24px;
}

.teclado {
  margin-left: 10px;
}

.microfone {
  margin-left: 10px;
  margin-right: 10px;
}

.btn-search {
  margin-right: 10px;
  background: #303134;
  border: none;
}

.btn-search img {
  width: 16px;
  height: 16px;
}

.header-rigth {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings img {
  width: 24px;
}

.menu-apps {
  margin-left: 16px;
  margin-right: 16px;
}

.menu-apps svg {
  width: 24px;
}

.menu-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 36px;
  background: #8ab4f8;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 16px;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: none;
  margin-right: 30px;
}

.menu-login:hover {
  background: #93baf9;
  border-color: transparent;
  box-shadow: 0 1px 3px 1px rgb(0 0 0 / 15%), 0 1px 2px rgb(0 0 0 / 30%);
}

.menu-login a {
  color: #202124;
  text-decoration: none;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.25px;
  box-sizing: border-box;
  line-height: 16px;
}

/*----------------  MENU INFERIOR  --------------------------------*/
.menu-inferior {
  display: block;
  background-color: chocolate;
}

.menu-inferior-container {
  display: flex;
  align-items: center;
  background-color: blueviolet;
  width: 100%;
}

.links-menu-inferior {
  display: flex;
  justify-content: center;
  background-color: aquamarine;
}

.links-menu-inferior span {
  margin-left: 10px;
}

.link-todas svg,
.link-imagens svg,
.link-noticias svg,
.link-videos svg,
.link-shopping svg,
.link-mais svg {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

/*----------------  LINHA DE DIVISÃO  --------------------------------*/
.divisao {
  border-bottom: 5px solid green;
}
/*----------------  MAIN CONTENT  --------------------------------*/
main {
  display: flex;
}

main .container {
  margin-left: 190px;
}

/*----------------  FOOTER  --------------------------------*/
footer {
  display: flex;
  height: 300px;
}

footer .container {
  margin-left: 190px;
}
