/* O header faz parte do cabeçalho

header, nav, nav ul, nav li, article,  = são seletores
*/

/* O header faz parte do cabeçalho*/
header{
    background: gray;
    position: relative;
    height: 60px;
    border-radius: 0px 0px 50px 50px;

}

nav{
    background: yellow;
    position: absolute;
    height: 30px; width: 300px;
    right: 100px; left: 10px;
    top: 110px;
    border-radius: 0px 40px 0px 40px;

}

nav ul{
    font-style: italic;
    text-transform: uppercase;
    background: black;
    position: absolute;
    width: 290px; height: 0;
    left: -30px; right: 0px;
    top: -10px;

}

nav li{
    list-style: none;
    display: inline-block;

}

nav li:hover{
    background: olive;

}

article{
    background: darkmagenta;
    position: relative;
    height: 550px; width: 600px;
    left: 400px;
    top: 5px;
    border-radius: 60px 60px;

}


footer{
    background: green;
    position: relative;
    height: 70px;
    border: none;
    border-radius: 70px 70px 0px 0px;
}
/*
No body definimos a posição (enquadramento) de todos os elementos na pagina web.
 */
body{
    position: relative;
    height: 200px; width: 1000px;
    left: 150px;
    background: brown;

}

/*
Quando definimos uma DIV CLASS para alterarmos precisamos chamar com um ponto(.) + o nome que colocamos
 */
.rodape{
    background: deeppink;
    width: 60px; height: 30px;
    position: relative;
    left: 80px;

}