input,
a {
  display: block;
}

/* -------      Seleção por atributo ou parametro   --------------------*/

/* Para selecionar por atributo é necessario declarar ele entre chaves [] 
Neste exemplo abaixo ele pega todos os elementos que contem o parametro required, caso tenha mais de um required será aplicado o CSS em todos.
*/
[required] {
  background-color: brown;
}

/*  Para não aplicar em todos podemos cobinar a seleção com uma classe, um id entre outos, por exemplo:
com o input. Lembrando que não pode ter espaço entre o elemento e as chaves.
input[required] {
  background-color: brown;
}

.classeQualquer[required] {
  background-color: brown;
}

#idQualquer[required] {
  background-color: brown;
}
 */

/*  Para Selecionar o atributo baseado no seu valor inicial usamos ^, lembrando que o CSS funciona em cascata, assim este será aplicado em todos os atributos href, porém podemos sobrescrever */
a[href^='https:'] {
  background-color: hotpink;
}

a[href^='http:'] {
  background-color: cadetblue;
}

/*Selecionando com atributo especifico*/
input[type='password'] {
  background-color: blueviolet;
}

input[name='endereco'] {
  background-color: blue;
}

/* Selecionando o atributo pelo valor dentro dele, neste caso o * indica que é para o seletor percorrer todo o valor em todos os href e onde encontrar o valor especificado aplicar o CSS.  */
a[href*='economia'] {
  background-color: aqua;
}

a[href*='futebol'] {
  background-color: rgb(43, 255, 0);
}

/* Selecionando o atributo pelo valor dentro dele, neste caso o $ indica que é para o seletor percorrer todo o valor em todos os href e onde encontrar o valor especificado aplicar o CSS.  */
a[href$='cruzeiro'] {
  background-color: rgb(255, 102, 0);
}
