* {
  margin: 0;
  padding: 0;
}
/*     CABEÇALHO          */
header{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 48px;
}

.container_header{
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.container_header a {
  font-size: 13px;
  color: rgba(0,0,0,0.87);
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.links_header {
  display: flex;
  align-items: center;
  margin: 5px;
}

.links_header a:hover {
  text-decoration: underline;
}

.apps_login_header {
  display: flex;
  align-items: center;
  margin: 5px;
}

.link_header_gmail {
  margin: 10px;
}

.link_header_imagens {
  margin: 10px;
}

.apps_login_header_pesquisaApps svg{
  width: 24px;
}

.apps_login_header_pesquisaApps {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.apps_login_header_pesquisaApps:hover {
  background-color: rgba(0, 0, 0, 0.11);
}

.apps_login_header_fazer_login{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 36px;
  margin: 10px;
  background: #1a73e8;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: .25px;
  line-height: 16px;
  border-radius: 4px;
  box-sizing: border-box;
}

.apps_login_header_fazer_login a{
  color: #fff;
}

.apps_login_header_fazer_login:hover {
  background: #1a73e8c7;
}

/*----------------------------------------------------------------------------------------------------------------------------------------*/

/*     SEÇÃO          */

section {
  display: block;
  justify-content: center;
  align-items: center;
}

.container_section {
  display: block;
}

.section_img_google {
  display: flex;
  height: 200px;
  justify-content:center; /* Alinha a img google ao centro */
  align-items: flex-end; /* Alinha a img google abaixo */
}

.section_img_google img{
  width: 250px;
}

.section_lupa_teclado_microfone {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 530px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.151);
  margin-top: 20px;
  border-radius: 100px;
}

.container_input:hover {
  width: 532px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
}

.section_lupa {
  display: flex;
  margin-left: 10px;
}

.section_lupa svg{
  width: 20px;
  height: 26px;
}

.section_input_text input{
  width: 400px;
  height: 35x;
  border: none;
}

.section_teclado_microfone {
  display: flex;
  margin-right: 10px;
}

.section_teclado {
  display: flex;
  margin-right: 20px;
  cursor: pointer;
}

.section_teclado img {
  width: 24px;
  height: 24px;
}

.section_microfone {
  display: flex;
  cursor: pointer;
}

.section_microfone svg{
  width: 24px;
  height: 24px;
}

.section_container_pesquisa_estou_sorte {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.section_pesquisa_estou_sorte_central {
  display: flex;
}

.section_pesquisa {
  margin: 10px;
}

.section_pesquisa button{
  width: 140px;
  height: 36px;
  color: #000;
  font-size: 13px;
  font-weight: 100;
  background-color: rgba(0, 0, 0, 0.034);
  border: none;
}

.section_pesquisa button:hover{
  border: 1px solid rgba(0, 0, 0, 0.144);
  border-radius: 4px;
}


.section_estou_sorte {
  margin: 10px;
}

.section_estou_sorte button{
  width: 140px;
  height: 36px;
  color: #000;
  font-size: 13px;
  font-weight: 100;
  background-color: rgba(0, 0, 0, 0.034);
  border: none;
}

.section_estou_sorte button:hover{
  border: 1px solid rgba(0, 0, 0, 0.144);
  border-radius: 4px;
}