* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  background-color: #44004a;
  height: 70px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 900px;
}

.logo {
  display: flex;
  align-items: center;
}

nav ul, nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  margin-left: 20px;
}

nav a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #a090a2
}

nav a:hover {
  background-color: #5b0064;
  color: #FFFFFF;
}

/*Lupa*/
li img {
  width: 14px;
}

.carrinho {
  display: flex;
}

.qtd_preco {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 150px;
  height: 30px;
  border-radius: 100px;
  background-color: #5b0064;
}

.qtd {
  font-size: 12px;
  color: #a090a2;
}

.barra {
  color: #a090a2;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}

.preco {
  font-size: 12px;
  color: #a090a2;
}

.carrinho_verde {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background-color:#00ff87;
  margin-top: 20px;
}

.carrinho_verde img{
  width: 18px;
  height: 18px;
}

.carrinho a div:hover {
  background-color: #5dffb2;
}

/* Formulario */

#section_migalha{
  display: flex;
  justify-content: center;
}

.container_migalha {
  display: flex;
  width: 900px;
}

.conteudo_migalha {
  display: flex;
}

.migalha {
  display: flex;
  margin-top: 50px;
  margin-bottom: 10px;
}

#inicio {

}

#seta {
  padding-left: 5px;
  padding-right: 5px;
  width: 12px;
}

#cad {
  color: #00ff87;
}

#section_form {
  display: flex;
  justify-content: center;
}

.formulario {
  border: 5px solid #cc0149;
}

form {
  display: flex;
  width: 900px;
}

.container_form {
  display: flex;
  flex-direction: column;
}

.cad_email_senha {
  display: flex;
  justify-content: space-between;
}

.form_email_senha {
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
}

.form_email_senha span {
  color: red;
}

.form_email {
  margin-bottom: 10px;
  margin-left: 48px;
}

.form_email input {
  border-radius: 3px;
  width: 240px;
  height: 20px;
}

.rep_email {
}

.rep_email input {
  border-radius: 3px;
  width: 240px;
  height: 20px;
}

.form_senha {
  margin-bottom: 10px;
}

.form_senha input {
  border-radius: 3px;
  width: 240px;
  height: 20px;
}

.rep_senha {
  margin-left: 12px;
}


.rep_senha input{
  border-radius: 3px;
  width: 240px;
  height: 20px;
}

.container_dados {
  background-color: #bbff00;
}

.conteudo_dados {
  display: flex;
  background-color: #44004a;
}

.form_cadastro {
  display: flex;
  background-color: #a090a2;
}

.form_dados {
  background-color: bisque;
}

.form_dados_cadastrais {
  margin-left: 40px;
  margin-top: 10px;
  background-color: #00ff87;
}

.radio {
  display: flex;
  margin-top: 30px;
  margin-left: 160px;
  margin-bottom: 10px;
  background-color: chartreuse;
}

.pessoa_fisica {
}

.pessoa_fisica input {
  margin-left: 30px;
}

.pessoa_juridica {

}

.pessoa_juridica input {
  margin-left: 30px;
}

.form_cadastro {
  background-color: brown;
}

.form_endereco {
  background-color: blue;
}

.form_dados_endereco {
  background-color: cadetblue;
}




/* 

Cor de header   #44004a

Cor do retangulo carrinho e preço #5b0064

Texto inicio #a0a1a0

texto cadastrar pequeno #5dffb2

Texto menu de cor #a090a2

Verde do carrinho #00ff87

Borda do formulario #cc0149

Botão cadastrar #00ff87

Texto Botão Cadastrar #15a46c



*/