* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  background-color: #44004a;
  height: 70px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 900px;
}

.logo {
  display: flex;
  align-items: center;
}

nav ul, nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  margin-left: 20px;
}

nav a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #a090a2
}

nav a:hover {
  background-color: #5b0064;
  color: #FFFFFF;
}

/*Lupa*/
li img {
  width: 14px;
}

.carrinho {
  display: flex;
}

.qtd_preco {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 150px;
  height: 30px;
  border-radius: 100px;
  background-color: #5b0064;
}

.qtd {
  font-size: 12px;
  color: #a090a2;
}

.barra {
  color: #a090a2;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}

.preco {
  font-size: 12px;
  color: #a090a2;
}

.carrinho_verde {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background-color:#00ff87;
  margin-top: 20px;
}

.carrinho_verde img{
  width: 18px;
  height: 18px;
}

.carrinho a div:hover {
  background-color: #5dffb2;
}

/* Formulario */

#section_migalha{
  display: flex;
  justify-content: center;
}

.container_migalha {
  display: flex;
  width: 900px;
}

.conteudo_migalha {
  display: flex;
}

.migalha {
  display: flex;
  margin-top: 50px;
  margin-bottom: 10px;
}

.migalha a{
  text-decoration: none;
}

.migalha a:hover{
  text-decoration: underline;
}

#seta {
  padding-left: 5px;
  padding-right: 5px;
  width: 12px;
}

#cad {
  color: #00ff87;
}

#section_form {
  display: flex;
  justify-content: center;
}

.formulario {
  border: 5px solid #cc0149;
}

form {
  display: flex;
  width: 900px;
}

form span {
  color: red;
}

.container_form {
  display: flex;
  flex-direction: column;
}

.cad_email_senha {
  display: flex;
  justify-content: space-between;
}

.form_email_senha {
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
}

.form_email {
  margin-bottom: 10px;
  margin-left: 48px;
}

.form_email input {
  border-radius: 3px;
  width: 240px;
  height: 20px;
}

.rep_email input {
  border-radius: 3px;
  width: 240px;
  height: 20px;
}

.form_senha {
  margin-bottom: 10px;
}

.form_senha input {
  border-radius: 3px;
  width: 240px;
  height: 20px;
}

.rep_senha {
  margin-left: 12px;
}


.rep_senha input{
  border-radius: 3px;
  width: 240px;
  height: 20px;
}

.conteudo_dados {
  display: flex;
}

.form_cadastro {
  display: flex;
}

.form_dados_cadastrais {
  margin-left: 40px;
  margin-top: 10px;
}

.form_dados_cadastrais h3{
  font-weight: normal;
}

.radio {
  display: flex;
  margin-top: 30px;
  margin-left: 130px;
  margin-bottom: 10px;
}

.pessoa_fisica input {
  margin-left: 30px;
}

.pessoa_juridica input {
  margin-left: 20px;
}

.nome {
  margin-left: 90px;
  margin-bottom: 10px;
}

.nome input{
  border-radius: 3px;
  width: 240px;
  height: 20px;
}

.sobrenome {
  margin-left: 56px;
  margin-bottom: 10px;
}

.sobrenome input{
  border-radius: 3px;
  width: 240px;
  height: 20px;
}

.sexo {
  margin-left: 97px;
  margin-bottom: 10px;
}

.sexo select{
  border-radius: 3px;
  width: 140px;
  height: 25px;
}

.cpf {
  margin-left: 100px;
  margin-bottom: 10px;
}

.cpf input{
  border-radius: 3px;
  width: 200px;
  height: 20px;
}

.telefone {
  margin-left: 72px;
  margin-bottom: 10px;
}

.telefone input{
  border-radius: 3px;
  width: 200px;
  height: 20px;
}

.celular {
  margin-left: 72px;
  margin-bottom: 10px;
}

.celular input{
  border-radius: 3px;
  width: 200px;
  height: 20px;
}

.nascimento {
  margin-left: 50px;
  margin-bottom: 10px;
}

.nascimento input{
  border-radius: 3px;
  width: 200px;
  height: 20px;
}

.receber_email {
  margin-left: 147px;
}

.receber_email label {
  padding-left: 10px;
  font-size: 12px;
}

.form_dados_endereco {
  margin-left: 80px;
  margin-top: 10px;
}

.form_dados_endereco h3 {
  font-weight: normal;
  margin-bottom: 30px;
}

.cep {
  margin-bottom: 10px;
  margin-left: 164px;
}

.cep input{
  border-radius: 3px;
  width: 150px;
  height: 20px;
}

.rua {
  margin-bottom: 10px;
  margin-left: 167px;
}

.rua input{
  border-radius: 3px;
  width: 240px;
  height: 20px;
}

.numero {
  margin-bottom: 10px;
  margin-left: 140px;
}

.numero input{
  border-radius: 3px;
  width: 100px;
  height: 20px;
}

.sem_numero {
  margin-bottom: 10px;
  margin-left: 202px;
}

.complemento {
  margin-bottom: 10px;
  margin-left: 102px;
}

.complemento input{
  border-radius: 3px;
  width: 200px;
  height: 20px;
}

.referencia {
  margin-bottom: 10px;
  margin-left: 123px;
}

.referencia input{
  border-radius: 3px;
  width: 240px;
  height: 20px;
}

.bairro {
  margin-bottom: 10px;
  margin-left: 151px;
}

.bairro input{
  border-radius: 3px;
  width: 240px;
  height: 20px;
}

.cidade {
  margin-bottom: 10px;
  margin-left: 147px;
}

.cidade input{
  border-radius: 3px;
  width: 240px;
  height: 20px;
}

.estado {
  margin-bottom: 10px;
  margin-left: 149px;
}

.estado input{
  border-radius: 3px;
  width: 80px;
  height: 20px;
}

.botao a {
  text-decoration: none;
}

.boão_cadastar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  margin-top: 10px;
  margin-left: 146px;
  margin-bottom: 10px;
  background-color: #00ff87;
  border-radius: 3px; 
}

.boão_cadastar img {
  width: 10px;
  padding-left: 10px;
}

.boão_cadastar:hover {
  background-color: #5dffb2;
}
