* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  height: 54px;
}

.container_header {
  display: flex;
  width: 1150px;
}

.container_menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  
}

.logo img {
  width: 108px;
  height: 23px;
}

.linha_vertical {
  margin-left: 5px;
  margin-right: 5px;
}

.linha_vertical img {
  
}

.surface {
  margin-bottom: 5px;
}

.surface a {
  text-decoration: none;
}

.surface a:hover {
  text-decoration: underline;
}

.surface span {
  font-size: 16px;
  font-weight: 500;
  color: #3b3b3b;
}

.menu_primario {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_primario  button {
  height: 54px;
  background-color: #FFFFFF;
  border: none;
}

.menu_primario  nav {

}

.menu_primario  ul {
}

.texto_botao {
  font-size: 12px;
  font-weight: normal;
  margin-left: 20px;
  margin-bottom: 20px;
}

nav ul, nav li, nav img {
  list-style: none; /* Retira o pontinha da lista */
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex; /* Aplicado para as lista em menu ficar um ao lado do outro */
}

nav li {
  display: flex;
}

nav a {
  display: block;
  margin-top: 18px;
  margin-left: 20px;
  text-decoration: none;
  font-size: 13px;
}

.menu_primario img {
  margin-top: 23px;
  margin-left: 5px;
}

.seta_baixo img {
  width: 10px;
  height: 10px;
}

.menu_secundario {
  margin-left: 65px;
}

.menu_secundario button {
  height: 54px;
  background-color: #FFFFFF;
  border: none;
}

.menu_secundario img {
  margin-top: 23px;
  margin-left: 5px;
}

.img_maior img {
  width: 10px;
  height: 10px;
}

.usuario img {
  width: 20px;
  height: 20px;
}





/* Section Surface Home */
#section_geral {
  display: flex;
  justify-content: center;
  background-image: url('imagens/Surface_Home_Hero_Fall_20_Non_HE_V1.jpg');
  background-position: center;
  background-size: cover;
  height: 450px;
}

.column {
}

.container_section {
}
/* 
.surface_home {
  width: 500px;
} */

.explorar {

}

.explorar a{
  max-width: 100%;
  display: inline-block;
  position: relative;
  left: 0;
  text-overflow: clip;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}

.explorar span {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: normal;
  line-height: 1.3;
  letter-spacing: 0;
  cursor: pointer;
  box-sizing: inherit;
  color: #0067b8;
}

.explorar img {
  width: 10px;
  height: 10px;
}
