* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  height: 54px;
}

.container_header {
  display: flex;
  width: 1150px;
}

.container_menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  
}

.logo img {
  width: 108px;
  height: 23px;
}

.linha_vertical {
  margin-left: 5px;
  margin-right: 5px;
}

.linha_vertical img {
  
}

.surface {
  margin-bottom: 5px;
}

.surface a {
  text-decoration: none;
}

.surface a:hover {
  text-decoration: underline;
}

.surface span {
  font-size: 16px;
  font-weight: 500;
  color: #3b3b3b;
}

.menu_primario {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_primario  button {
  height: 54px;
  background-color: #FFFFFF;
  border: none;
}

.texto_botao {
  font-size: 12px;
  font-weight: normal;
  margin-left: 20px;
  margin-bottom: 20px;
}

nav ul, nav li, nav img {
  list-style: none; /* Retira o pontinha da lista */
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex; /* Aplicado para as lista em menu ficar um ao lado do outro */
}

nav li {
  display: flex;
}

nav a {
  display: block;
  margin-top: 18px;
  margin-left: 20px;
  text-decoration: none;
  font-size: 13px;
}

.menu_primario img {
  margin-top: 23px;
  margin-left: 5px;
}

.seta_baixo img {
  width: 10px;
  height: 10px;
}

.menu_secundario {
  margin-left: 65px;
}

.menu_secundario button {
  height: 54px;
  background-color: #FFFFFF;
  border: none;
}

.menu_secundario img {
  margin-top: 23px;
  margin-left: 5px;
}

.img_maior img {
  width: 10px;
  height: 10px;
}

.usuario img {
  width: 20px;
  height: 20px;
}

/* Section Surface Home */
#section_geral {
  display: flex;
  background-image: url('imagens/Surface_Home_Hero_Fall_20_Non_HE_V1.jpg');
  background-position: center;
  background-size: cover;
  height: 470px;
}

.container_section {
  display: flex;
}

.column {
  flex-direction: column;
}

.surface_home {
  width: 360px;
  margin-left: 120px;
  margin-top: 100px;
}

.surface_home h1 {
  font-size: 40px;
  font-weight: 100;
}

.surface_home p {
  font-size: 21px;
  font-weight: 100;
  margin-top: 5px;
}

.explorar {
  margin-top: 20px;
}

.explorar a{
  text-decoration: none;
}

.explorar a:hover {
  text-decoration: underline;
  color: #0067b8;
}

.explorar span {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 5px;
  color: #0067b8;
}

.explorar img {
  width: 10px;
  height: 10px;
}

/* Section Menu Central */

#menu_central {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.container_menu_central {
  display: flex;
}

.itens_menu_central {
  width: 200px;
  margin-left: 50px;
}

.itens_menu_central a {
  align-items: center;
}

.itens_menu_central span {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0067b8;
}

.itens_menu_central img {
  width: 35px;
} 

.itens_menu_central #icone-acessorios {
  margin-left: 20px;
  padding-bottom: 5px;
}

.itens_menu_central #icone-promocoes {
  margin-left: 20px;
  padding-bottom: 5px;
}
.itens_menu_central #icone-empresas {
  margin-left: 40px;
}


/*Bloco - Seção Oferta Surface */

#section_oferta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_oferta {
  flex-direction: column;
  height: 300px;
}

.banner_oferta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner_oferta img {
  width: 1150px;
}

.texto_banner_oferta {
  flex-direction: column;
}

.titulo_oferta h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 100;
  padding: 30px;
}

.desc_oferta {
  width: 900px;
  margin-left: 50px;
  margin-bottom: 30px;
}

.desc_oferta p {
  font-size: 15px;
  font-weight: 100;
  margin-left: 100px;
  text-align: center;
}
/* ---------------------------------------------------------------------------------------------------------------------  */

/*  Bloco - Seção Modelos Surface 1  */
#modelos_surface {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_modelos_surface {
  flex-direction: column;
  width: 100%;
  margin: 2px;
  margin-left: 10px;
}

.modelos_surface {
  display: flex;
  width: 100%;
}

#surface_pro_7 {
  width: 635px;
  height: 717px;
  background: url('imagens/Surface-Pro-7-635x717.png');
}

.titulo_surface_pro_7,
.titulo_surface_laptop_go {
  margin-top: 500px;
  margin-left: 45px;
}

.titulo_surface_pro_7 h1, .titulo_surface_laptop_go h1{
  color: black;
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 10px;
}

.titulo_surface_pro_7 p, .titulo_surface_laptop_go p{
  color: black;
  font-size: 21px;
  font-weight: 100;
  margin-right: 40px;
  margin-bottom: 20px;
}

.titulo_surface_pro_7 a, .titulo_surface_laptop_go a{
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #0067b8;
  text-decoration: none;
}

.titulo_surface_pro_7 a:hover,
.titulo_surface_laptop_go a:hover{
  text-decoration: underline;
}

.titulo_surface_pro_7 a img{
  width: 10px;
}

#surface_loptop_go {
  width: 635px;
  height: 717px;
  background: url('imagens/Surface-loptop-go-635x717.jpg');
  margin-left: 5px;
}

#surface_loptop_go span img {
  width: 10px;
}

.strong {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 15px;
  background-color: yellow;
}
/* ---------------------------------------------------------------------------------------------------------------------  */

/*  Bloco - Seção Modelos Surface 2  */

#surface_laptop_3 {
  width: 635px;
  height: 717px;
  background: url('imagens/Surface_Laptop_3.png');
}

.titulo_surface_laptop_3 {
  margin-top: 500px;
  margin-left: 45px;
}

.titulo_surface_go_2 {
  margin-top: 530px;
  margin-left: 45px;
}

.titulo_surface_laptop_3 h1 {
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 10px;
}

.titulo_surface_go_2 h1{
  color: black;
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 10px;
}

.titulo_surface_laptop_3 p {
  color: #FFFFFF;
  font-size: 21px;
  font-weight: 100;
  margin-right: 40px;
  margin-bottom: 20px;
}

.titulo_surface_go_2 p{
  color: black;
  font-size: 21px;
  font-weight: 100;
  margin-right: 40px;
  margin-bottom: 20px;
}

.titulo_surface_laptop_3 a {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.titulo_surface_go_2 a{
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #0067b8;
  text-decoration: none;
}

.titulo_surface_laptop_3 a:hover,
.titulo_surface_go_2 a:hover{
  text-decoration: underline;
}

.titulo_surface_laptop_3 a img{
  width: 10px;
}

#surface_go_2 {
  width: 635px;
  height: 717px;
  background: url('imagens/Surface_Go_2.jpg');
  margin-left: 5px;
}

#surface_go_2 span img {
  width: 10px;
}
/* ---------------------------------------------------------------------------------------------------------------------  */

/*  Bloco - Seção Modelos Surface 3  */

#surface_book_3 {
  width: 635px;
  height: 717px;
  background: url('imagens/Surface_Book_3.jpg');
}

.titulo_surface_book_3 {
  margin-top: 520px;
  margin-left: 45px;
}

.titulo_surface_pro_x {
  margin-top: 500px;
  margin-left: 45px;
}

.titulo_surface_book_3 h1, .titulo_surface_pro_x h1{
  color: black;
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 10px;
}

.titulo_surface_book_3 p, .titulo_surface_pro_x p{
  color: black;
  font-size: 21px;
  font-weight: 100;
  margin-right: 40px;
  margin-bottom: 20px;
}

.titulo_surface_book_3 a, .titulo_surface_pro_x a{
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #0067b8;
  text-decoration: none;
}

.titulo_surface_book_3 a:hover,
.titulo_surface_pro_x a:hover{
  text-decoration: underline;
}

.titulo_surface_book_3 a img{
  width: 10px;
}

#surface_pro_x {
  width: 635px;
  height: 717px;
  background: url('imagens/Surface_Pro_X.jpg');
  margin-left: 5px;
}

#surface_pro_x span img {
  width: 10px;
}
/* ---------------------------------------------------------------------------------------------------------------------  */

/*  Bloco - Seção Modelos Surface 4  */
#surface_headphone_2 {
  width: 635px;
  height: 350px;
  background-color: #E5E5E5;
}

.banner_headphone, 
.banner_surface_earbuds {
  display: flex;
  flex-direction: row-reverse;
}

.titulo_surface_headphone_2 h1 {
  color: black;
  font-size: 40px;
  font-weight: 100;
  margin-top: 40px;
  margin-left: 50px;
} 

.titulo_surface_earbuds h1{
  color: black;
  font-size: 40px;
  font-weight: 100;
  margin-top: 60px;
  margin-left: 50px;
}

.titulo_surface_headphone_2 p {
  color: black;
  font-size: 21px;
  font-weight: 100;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 30px;  
}

.titulo_surface_earbuds p{
  color: black;
  font-size: 21px;
  font-weight: 100;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.link_headphone {
  margin-left: 50px;
}

.link_headphone a {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #0067b8;
  text-decoration: none;
}

.link_earbuds {
  margin-left: 50px;
}

.link_earbuds a{
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #0067b8;
  text-decoration: none;
}

.link_earbuds img {
  width: 10px;
}

.titulo_surface_headphone_2 a:hover,
.titulo_surface_earbuds a:hover{
  text-decoration: underline;
}

.titulo_surface_headphone_2 a img{
  width: 10px;
}

#surface_earbuds {
  width: 635px;
  height: 350px;
  margin-left: 5px;
  background-color: #E5E5E5;
}
  /* ---------------------------------------------------------------------------------------------------------------------------- */


/* Bloco - Seção Menu Inferior */
#menu_inferior{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.container_menu_inferior {
  display: flex;
}

.container_menu_inferior nav  {
  display: flex;
}

.container_menu_inferior ul {
  display: flex;
}

.container_menu_inferior li {
  display: flex;
}

.itens_menu_inferior {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 10px;
}

.itens_menu_inferior a {
}

.itens_menu_inferior span {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0067b8;
}

.itens_menu_inferior img {
  width: 45px;
  margin-bottom: 10px;
} 

.itens_menu_inferior #icone-lampada {
  margin-left: 40px;
}

.itens_menu_inferior #icone-globo {
  margin-left: 50px;
}
.itens_menu_inferior #icone-triangulo {
  margin-left: 80px;
}

.linha_cima_itens_menu_inferior {
  display: flex;
  margin-left: 100px;
  margin-top: 50px;
  width: 1100px;
  height: 2px;
  background-color:  #E5E5E5;
}

.linha_baixo_itens_menu_inferior {
  display: flex;
  margin-left: 100px;
  margin-bottom: 50px;
  width: 1100px;
  height: 2px;
  background-color: #E5E5E5;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/

/* Footer */
#fotter {
  display: flex;
  align-items: center;
  width: 1150px;
  height: 600px;
  background-color: aqua;
}

.faixa_preta {
  display: flex;
  align-items: center;
  width: 1293px;
  height: 50px;
  background-color: #2F2F2F;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faixa_preta p{
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  color: #FFFFFF;
  margin-left: 50px;
}

.redes_sociais {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1293px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.redes_sociais h2 {
  font-size: 15px;
  color: rgba(0, 0, 0, .6);
  font-weight: 400;
}

.redes_sociais ul {
  display: flex;
  list-style: none;
}

.redes_sociais ul li {
  margin: 10px;
}

.redes_sociais img {
  width: 32px;
  height: 32px;
}

.redes_sociais_esquerdo {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.redes_sociais_direito {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.itens_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1293px;
  height: 400px;
  background-color:  rgba(0, 0, 0, 0.050);
}

.itens_footer_esquerdo {
  display: flex;
  justify-content: space-between;
  width: 575px;
  margin-right: 50px;
}

.itens_footer_direito {
  display: flex;
  width: 575px;
  height: 300px;
  background-color: antiquewhite;
}

#item_1 {
  
}

.titulo_item_1, 
.titulo_item_2, 
.titulo_item_3  {
  color: #616161;
  font-weight: 600;
}

.lista_item_1 ul, 
.lista_item_2 ul, 
.lista_item_3  ul {
  list-style: none;
}

.lista_item_1 ul li,
.lista_item_2 ul li,
.lista_item_3 ul li {
  margin-top: 10px;
}

.lista_item_1 a, 
.lista_item_2 a, 
.lista_item_3  a {
  font-size: 11px;
  text-decoration: none;
  color: #616161;
}

.lista_item_1 a:hover, 
.lista_item_2 a:hover, 
.lista_item_3  a:hover {
  text-decoration: underline;
}

#item_2 {
  
}

#item_3 {
  
}

#item_4 {
  
}

#item_5 {
  
}

#item_6 {
  
}

